Source: dbd
Section: devel
Priority: extra
Maintainer: Oleksii Klitovchenko <oleksii.klitovchenko@gmail.com>
Build-Depends: debhelper
Standards-Version: 4.1.4
Homepage: https://github.com/klitovchenko/dbd

Package: dbd-apt
Architecture: all
Depends: sudo, pbuilder, reprepro, dctrl-tools, nginx
Pre-Depends: adduser
Conflicts: dbd-apt
Description: Environment for building DEB packages
 Environment for building DEB packages.

Package: dbd-build-node
Architecture: all
Depends: sudo, pbuilder, dctrl-tools
Pre-Depends: adduser
Conflicts: dbd
Description: Environment for building DEB packages
 Environment for building DEB packages.

Package: dbd-apt-helpers
Architecture: all
Depends: dbd-apt
Pre-Depends:
Conflicts:
Description: Helpers scripts for APT Repository
 Local helpers scripts for APT Repository.